html {
  background-color: plum;
}

body {
  width: 700px;
  background-color: rgb(243, 202, 243);
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  border-radius: 2%;
}
hr {
  border: 2px solid rgb(182, 88, 182);
}
.bold-letters {
  font-weight: bold;
  font-size: large;
}
h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
input {
  width: 400px;
}
#ball-responses {
  margin: 100px auto;
  display: block;
}
#ball-ans {
  color: rgb(66, 5, 66);
  font-weight: 900;
}
